body {
    font-family: sans-serif;
    background-color: skyblue;
    margin-top:100px;
}

.center {
    text-align:left;
}

.text-big {
    font-size:200;
}

.bold {
    font-weight:normal;
}

.img-medium {
    height: 250px;
}

